@page
@model dotnet_foody.Pages.Restaurants.ClientModel
@{
    ViewData["Title"] = "Client";
}

<h1>Client</h1>

@section Scripts
{
    <script>
        $(function () {
            $.ajax("/api/restaurants/", {
                method: "get"
            }).then(function (response) {
                console.log(response);
            });
        })
    </script>
}