@page
@model dotnet_foody.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search">Search</i>
                </button>
            </div>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a class="btn btn-info mt-4" asp-page="./Edit">
    Add new
</a>

@if (Model.Message != null)
{
    <div class="alert alert-warning">
        @Model.Message
    </div>
}

<div class="alert alert-warning my-4">
    @Model.MessageEnv
</div>